<h1>Expenses</h1>

<ul>
  <% @expenditures.each do |expense| %>
    <li>Name: <%= expense.name%> Amount: <%= expense.amount%> </li>
  <% end %>
</ul>

<%= link_to "Add Expense", new_category_expenditure_path(@expenditures) %>

